logicapps/icp-workspace/icp-logicapp/example-target-event-blob-receipt/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "actions": {
            "Scope": {
                "type": "Scope",
                "actions": {
                    "Parse_Event_Data": {
                        "type": "ParseJson",
                        "inputs": {
                            "content": "@body('Read_blob_content')?['content']",
                            "schema": {
                                "$schema": "http://json-schema.org/draft-07/schema#",
                                "title": "ICP Relay StoredEvent (Envelope)",
                                "type": "object",
                                "additionalProperties": false,
                                "required": [
                                    "schemaVersion",
                                    "eventId",
                                    "correlationId",
                                    "source",
                                    "receivedAtUtc",
                                    "idempotency",
                                    "routing",
                                    "status"
                                ],
                                "properties": {
                                    "schemaVersion": {
                                        "type": "string",
                                        "description": "Schema version for this stored envelope (e.g., '1.0')."
                                    },
                                    "executionMode": {
                                        "type": "string",
                                        "enum": [
                                            "event",
                                            "job"
                                        ],
                                        "description": "Execution mode. If omitted, treated as 'event' for backward compatibility."
                                    },
                                    "operation": {
                                        "type": [
                                            "object",
                                            "null"
                                        ],
                                        "additionalProperties": false,
                                        "description": "Present only when executionMode='job'. Describes the operation to execute.",
                                        "required": [
                                            "type",
                                            "initiator"
                                        ],
                                        "properties": {
                                            "type": {
                                                "type": "string",
                                                "maxLength": 128
                                            },
                                            "initiator": {
                                                "type": "string",
                                                "enum": [
                                                    "manual",
                                                    "scheduled"
                                                ]
                                            },
                                            "parameters": {
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "eventId": {
                                        "type": "string",
                                        "format": "uuid",
                                        "description": "EventId generated by Ingest function"
                                    },
                                    "correlationId": {
                                        "type": "string",
                                        "description": "Identifier for tracing across systems.",
                                        "maxLength": 128
                                    },
                                    "source": {
                                        "type": "object",
                                        "additionalProperties": false,
                                        "required": [
                                            "system"
                                        ],
                                        "properties": {
                                            "system": {
                                                "type": "string",
                                                "description": "Source system identifier (e.g., 'example', 'jira').",
                                                "minLength": 1,
                                                "maxLength": 64
                                            },
                                            "environment": {
                                                "type": [
                                                    "string",
                                                    "null"
                                                ],
                                                "description": "Optional environment identifier (e.g., 'prod', 'test').",
                                                "maxLength": 32
                                            },
                                            "senderId": {
                                                "type": [
                                                    "string",
                                                    "null"
                                                ],
                                                "description": "Optional sender identifier if source system has multiple senders.",
                                                "maxLength": 128
                                            }
                                        }
                                    },
                                    "receivedAtUtc": {
                                        "type": "string",
                                        "description": "When the webhook was received by ICP Relay (UTC).",
                                        "format": "date-time"
                                    },
                                    "storage": {
                                        "type": [
                                            "object",
                                            "null"
                                        ],
                                        "additionalProperties": false,
                                        "required": [
                                            "blobName",
                                            "rawContainer",
                                            "storedContainer"
                                        ],
                                        "description": "Storage layout info.",
                                        "properties": {
                                            "blobName": {
                                                "type": "string",
                                                "description": "Blob name.",
                                                "maxLength": 1024
                                            },
                                            "rawContainer": {
                                                "type": "string",
                                                "description": "Container for raw payloads.",
                                                "maxLength": 128
                                            },
                                            "storedContainer": {
                                                "type": "string",
                                                "description": "Container for StoredEvent envelopes.",
                                                "maxLength": 128
                                            }
                                        }
                                    },
                                    "routing": {
                                        "type": "object",
                                        "additionalProperties": false,
                                        "required": [
                                            "tenantKey",
                                            "eventType"
                                        ],
                                        "description": "Routing/business partition used by mapper.",
                                        "properties": {
                                            "tenantKey": {
                                                "type": "string",
                                                "description": "Business routing key, typically 'source:tenant' (e.g., 'example:company-0'). Used for Db and idempotency PK scope.",
                                                "maxLength": 128
                                            },
                                            "eventType": {
                                                "type": "string",
                                                "description": "Raw source event/job type. (EventType in ICP)",
                                                "maxLength": 128
                                            },
                                            "subject": {
                                                "type": [
                                                    "object",
                                                    "null"
                                                ],
                                                "additionalProperties": false,
                                                "description": "Optional subject of the event if easily available at ingest time.",
                                                "properties": {
                                                    "type": {
                                                        "type": "string",
                                                        "maxLength": 64
                                                    },
                                                    "id": {
                                                        "type": "string",
                                                        "maxLength": 256
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "idempotency": {
                                        "type": "object",
                                        "additionalProperties": false,
                                        "required": [
                                            "key",
                                            "algorithm",
                                            "scopeKey"
                                        ],
                                        "properties": {
                                            "key": {
                                                "type": "string",
                                                "description": "Idempotency key (e.g., sha256 of payload, or source entity+revision).",
                                                "maxLength": 256,
                                                "minLength": 16
                                            },
                                            "algorithm": {
                                                "type": "string",
                                                "description": "How the idempotency key was derived.",
                                                "enum": [
                                                    "sha256",
                                                    "source-id",
                                                    "source-id-revision",
                                                    "custom"
                                                ]
                                            },
                                            "scopeKey": {
                                                "type": "string",
                                                "description": "Scope for idempotency, typically equals routing.tenantKey.",
                                                "maxLength": 128
                                            }
                                        }
                                    },
                                    "raw": {
                                        "type": [
                                            "object",
                                            "null"
                                        ],
                                        "additionalProperties": false,
                                        "required": [
                                            "payloadRef"
                                        ],
                                        "properties": {
                                            "payloadRef": {
                                                "type": "string",
                                                "description": "Reference to raw payload stored in blob (e.g., 'blob://...').",
                                                "maxLength": 2048
                                            },
                                            "contentType": {
                                                "type": "string",
                                                "description": "Optional content type of the raw payload (e.g., 'application/json').",
                                                "maxLength": 128
                                            },
                                            "sizeBytes": {
                                                "type": "integer",
                                                "description": "Optional payload size in bytes.",
                                                "minimum": 0
                                            }
                                        }
                                    },
                                    "canonical": {
                                        "description": "Canonical event representation conforming to the ICP Relay CanonicalEvent schema.",
                                        "$schema": "http://json-schema.org/draft-07/schema#",
                                        "title": "ICP Relay CanonicalEvent",
                                        "type": [
                                            "object",
                                            "null"
                                        ],
                                        "additionalProperties": false,
                                        "required": [
                                            "schemaVersion",
                                            "eventId",
                                            "correlationId",
                                            "eventType",
                                            "occurredAtUtc",
                                            "data"
                                        ],
                                        "properties": {
                                            "schemaVersion": {
                                                "type": "string",
                                                "description": "Schema version for this canonical event (e.g., \"1.0\")",
                                                "examples": [
                                                    "1.0"
                                                ]
                                            },
                                            "eventId": {
                                                "type": "string",
                                                "format": "uuid"
                                            },
                                            "correlationId": {
                                                "type": "string",
                                                "maxLength": 128
                                            },
                                            "eventType": {
                                                "type": "string",
                                                "maxLength": 128
                                            },
                                            "occurredAtUtc": {
                                                "type": "string",
                                                "format": "date-time"
                                            },
                                            "data": {
                                                "description": "RecordData - a generic, source-agnostic record payload for targets",
                                                "$schema": "http://json-schema.org/draft-07/schema#",
                                                "title": "ICP Relay RecordData",
                                                "type": [
                                                    "object",
                                                    "null"
                                                ],
                                                "additionalProperties": false,
                                                "required": [
                                                    "dataSchemaId",
                                                    "primary"
                                                ],
                                                "properties": {
                                                    "dataSchemaId": {
                                                        "type": "string",
                                                        "description": "Source/profile identifier for the RecordData payload (e.g., shopify.order.created.v1).",
                                                        "maxLength": 128,
                                                        "examples": [
                                                            "shopify.order.created.v1",
                                                            "jira.issue.updated.v1"
                                                        ]
                                                    },
                                                    "primary": {
                                                        "type": "object",
                                                        "additionalProperties": false,
                                                        "required": [
                                                            "entityType",
                                                            "entityId"
                                                        ],
                                                        "properties": {
                                                            "entityType": {
                                                                "type": "string",
                                                                "maxLength": 64,
                                                                "examples": [
                                                                    "order",
                                                                    "issue"
                                                                ]
                                                            },
                                                            "entityId": {
                                                                "type": "string",
                                                                "maxLength": 256
                                                            },
                                                            "entityNumber": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ],
                                                                "maxLength": 128
                                                            },
                                                            "status": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ],
                                                                "maxLength": 64
                                                            },
                                                            "title": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ],
                                                                "maxLength": 512
                                                            },
                                                            "summary": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ],
                                                                "maxLength": 512
                                                            },
                                                            "link": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ],
                                                                "maxLength": 512
                                                            },
                                                            "revision": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ],
                                                                "maxLength": 64
                                                            }
                                                        }
                                                    },
                                                    "attributes": {
                                                        "type": "array",
                                                        "description": "Flat, typed attributes (key/value) for reporting and generic rendering.",
                                                        "items": {
                                                            "$ref": "#/properties/canonical/properties/data/definitions/typedKv"
                                                        },
                                                        "default": []
                                                    },
                                                    "relations": {
                                                        "type": "array",
                                                        "description": "Relations to other entities (place, actor, template, parent, organization, etc.).",
                                                        "items": {
                                                            "$ref": "#/properties/canonical/properties/data/definitions/relation"
                                                        },
                                                        "default": []
                                                    },
                                                    "items": {
                                                        "type": "array",
                                                        "description": "Items such as Q/A pairs, rows, metrics. Used for generic targets (Teams/SQL).",
                                                        "items": {
                                                            "$ref": "#/properties/canonical/properties/data/definitions/item"
                                                        },
                                                        "default": []
                                                    },
                                                    "attachments": {
                                                        "type": "array",
                                                        "items": {
                                                            "$ref": "#/properties/canonical/properties/data/definitions/attachment"
                                                        },
                                                        "default": []
                                                    },
                                                    "links": {
                                                        "type": "array",
                                                        "description": "URLs to open the original entity in its source system (and other relevant links).",
                                                        "items": {
                                                            "$ref": "#/properties/canonical/properties/data/definitions/link"
                                                        },
                                                        "default": []
                                                    }
                                                },
                                                "definitions": {
                                                    "valueType": {
                                                        "type": "string",
                                                        "enum": [
                                                            "string",
                                                            "number",
                                                            "integer",
                                                            "boolean",
                                                            "datetime",
                                                            "date",
                                                            "json"
                                                        ]
                                                    },
                                                    "typedKv": {
                                                        "type": "object",
                                                        "additionalProperties": false,
                                                        "required": [
                                                            "key",
                                                            "type",
                                                            "value"
                                                        ],
                                                        "properties": {
                                                            "key": {
                                                                "type": "string",
                                                                "maxLength": 128,
                                                                "description": "Namespaced key (e.g., template.name, score.value, dates.completedAtUtc)."
                                                            },
                                                            "type": {
                                                                "$ref": "#/properties/canonical/properties/data/definitions/valueType"
                                                            },
                                                            "value": {}
                                                        },
                                                        "allOf": [
                                                            {
                                                                "if": {
                                                                    "properties": {
                                                                        "type": {
                                                                            "const": "string"
                                                                        }
                                                                    }
                                                                },
                                                                "then": {
                                                                    "properties": {
                                                                        "value": {
                                                                            "type": [
                                                                                "string",
                                                                                "null"
                                                                            ]
                                                                        }
                                                                    }
                                                                }
                                                            },
                                                            {
                                                                "if": {
                                                                    "properties": {
                                                                        "type": {
                                                                            "const": "number"
                                                                        }
                                                                    }
                                                                },
                                                                "then": {
                                                                    "properties": {
                                                                        "value": {
                                                                            "type": [
                                                                                "number",
                                                                                "null"
                                                                            ]
                                                                        }
                                                                    }
                                                                }
                                                            },
                                                            {
                                                                "if": {
                                                                    "properties": {
                                                                        "type": {
                                                                            "const": "integer"
                                                                        }
                                                                    }
                                                                },
                                                                "then": {
                                                                    "properties": {
                                                                        "value": {
                                                                            "type": [
                                                                                "integer",
                                                                                "null"
                                                                            ]
                                                                        }
                                                                    }
                                                                }
                                                            },
                                                            {
                                                                "if": {
                                                                    "properties": {
                                                                        "type": {
                                                                            "const": "boolean"
                                                                        }
                                                                    }
                                                                },
                                                                "then": {
                                                                    "properties": {
                                                                        "value": {
                                                                            "type": [
                                                                                "boolean",
                                                                                "null"
                                                                            ]
                                                                        }
                                                                    }
                                                                }
                                                            },
                                                            {
                                                                "if": {
                                                                    "properties": {
                                                                        "type": {
                                                                            "const": "datetime"
                                                                        }
                                                                    }
                                                                },
                                                                "then": {
                                                                    "properties": {
                                                                        "value": {
                                                                            "type": [
                                                                                "string",
                                                                                "null"
                                                                            ],
                                                                            "format": "date-time"
                                                                        }
                                                                    }
                                                                }
                                                            },
                                                            {
                                                                "if": {
                                                                    "properties": {
                                                                        "type": {
                                                                            "const": "date"
                                                                        }
                                                                    }
                                                                },
                                                                "then": {
                                                                    "properties": {
                                                                        "value": {
                                                                            "type": [
                                                                                "string",
                                                                                "null"
                                                                            ],
                                                                            "format": "date"
                                                                        }
                                                                    }
                                                                }
                                                            },
                                                            {
                                                                "if": {
                                                                    "properties": {
                                                                        "type": {
                                                                            "const": "json"
                                                                        }
                                                                    }
                                                                },
                                                                "then": {
                                                                    "properties": {
                                                                        "value": {
                                                                            "type": [
                                                                                "object",
                                                                                "array",
                                                                                "string",
                                                                                "number",
                                                                                "integer",
                                                                                "boolean",
                                                                                "null"
                                                                            ]
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        ]
                                                    },
                                                    "relation": {
                                                        "type": "object",
                                                        "additionalProperties": false,
                                                        "required": [
                                                            "relationType",
                                                            "entityType",
                                                            "entityId"
                                                        ],
                                                        "properties": {
                                                            "relationType": {
                                                                "type": "string",
                                                                "maxLength": 64,
                                                                "examples": [
                                                                    "place",
                                                                    "actor",
                                                                    "template",
                                                                    "parent",
                                                                    "organization"
                                                                ]
                                                            },
                                                            "entityType": {
                                                                "type": "string",
                                                                "maxLength": 64
                                                            },
                                                            "entityId": {
                                                                "type": "string",
                                                                "maxLength": 256
                                                            },
                                                            "name": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ],
                                                                "maxLength": 256
                                                            },
                                                            "role": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ],
                                                                "maxLength": 64,
                                                                "description": "Optional role for actor relations (inspector, reporter, created_by, assignee, ...)."
                                                            },
                                                            "email": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ],
                                                                "maxLength": 256
                                                            },
                                                            "tags": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "string",
                                                                    "maxLength": 128
                                                                },
                                                                "default": []
                                                            }
                                                        }
                                                    },
                                                    "item": {
                                                        "type": "object",
                                                        "additionalProperties": false,
                                                        "required": [
                                                            "itemType",
                                                            "itemId",
                                                            "type",
                                                            "value"
                                                        ],
                                                        "properties": {
                                                            "itemType": {
                                                                "type": "string",
                                                                "maxLength": 64,
                                                                "examples": [
                                                                    "qa",
                                                                    "metric",
                                                                    "row",
                                                                    "field"
                                                                ]
                                                            },
                                                            "itemId": {
                                                                "type": "string",
                                                                "maxLength": 256
                                                            },
                                                            "label": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ],
                                                                "maxLength": 512
                                                            },
                                                            "type": {
                                                                "$ref": "#/properties/canonical/properties/data/definitions/valueType"
                                                            },
                                                            "value": {},
                                                            "valueId": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ],
                                                                "maxLength": 256,
                                                                "description": "Optional identifier for the value (e.g., choiceId)."
                                                            }
                                                        },
                                                        "allOf": [
                                                            {
                                                                "if": {
                                                                    "properties": {
                                                                        "type": {
                                                                            "const": "string"
                                                                        }
                                                                    }
                                                                },
                                                                "then": {
                                                                    "properties": {
                                                                        "value": {
                                                                            "type": [
                                                                                "string",
                                                                                "null"
                                                                            ]
                                                                        }
                                                                    }
                                                                }
                                                            },
                                                            {
                                                                "if": {
                                                                    "properties": {
                                                                        "type": {
                                                                            "const": "number"
                                                                        }
                                                                    }
                                                                },
                                                                "then": {
                                                                    "properties": {
                                                                        "value": {
                                                                            "type": [
                                                                                "number",
                                                                                "null"
                                                                            ]
                                                                        }
                                                                    }
                                                                }
                                                            },
                                                            {
                                                                "if": {
                                                                    "properties": {
                                                                        "type": {
                                                                            "const": "integer"
                                                                        }
                                                                    }
                                                                },
                                                                "then": {
                                                                    "properties": {
                                                                        "value": {
                                                                            "type": [
                                                                                "integer",
                                                                                "null"
                                                                            ]
                                                                        }
                                                                    }
                                                                }
                                                            },
                                                            {
                                                                "if": {
                                                                    "properties": {
                                                                        "type": {
                                                                            "const": "boolean"
                                                                        }
                                                                    }
                                                                },
                                                                "then": {
                                                                    "properties": {
                                                                        "value": {
                                                                            "type": [
                                                                                "boolean",
                                                                                "null"
                                                                            ]
                                                                        }
                                                                    }
                                                                }
                                                            },
                                                            {
                                                                "if": {
                                                                    "properties": {
                                                                        "type": {
                                                                            "const": "datetime"
                                                                        }
                                                                    }
                                                                },
                                                                "then": {
                                                                    "properties": {
                                                                        "value": {
                                                                            "type": [
                                                                                "string",
                                                                                "null"
                                                                            ],
                                                                            "format": "date-time"
                                                                        }
                                                                    }
                                                                }
                                                            },
                                                            {
                                                                "if": {
                                                                    "properties": {
                                                                        "type": {
                                                                            "const": "date"
                                                                        }
                                                                    }
                                                                },
                                                                "then": {
                                                                    "properties": {
                                                                        "value": {
                                                                            "type": [
                                                                                "string",
                                                                                "null"
                                                                            ],
                                                                            "format": "date"
                                                                        }
                                                                    }
                                                                }
                                                            },
                                                            {
                                                                "if": {
                                                                    "properties": {
                                                                        "type": {
                                                                            "const": "json"
                                                                        }
                                                                    }
                                                                },
                                                                "then": {
                                                                    "properties": {
                                                                        "value": {
                                                                            "type": [
                                                                                "object",
                                                                                "array",
                                                                                "string",
                                                                                "number",
                                                                                "integer",
                                                                                "boolean",
                                                                                "null"
                                                                            ]
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        ]
                                                    },
                                                    "attachment": {
                                                        "type": "object",
                                                        "additionalProperties": false,
                                                        "required": [
                                                            "url"
                                                        ],
                                                        "properties": {
                                                            "attachmentId": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ],
                                                                "maxLength": 256
                                                            },
                                                            "kind": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ],
                                                                "maxLength": 64
                                                            },
                                                            "url": {
                                                                "type": "string",
                                                                "maxLength": 2048
                                                            }
                                                        }
                                                    },
                                                    "link": {
                                                        "type": "object",
                                                        "additionalProperties": false,
                                                        "required": [
                                                            "rel",
                                                            "url"
                                                        ],
                                                        "properties": {
                                                            "rel": {
                                                                "type": "string",
                                                                "maxLength": 32,
                                                                "examples": [
                                                                    "source",
                                                                    "ui",
                                                                    "api",
                                                                    "external"
                                                                ]
                                                            },
                                                            "url": {
                                                                "type": "string",
                                                                "maxLength": 2048
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "status": {
                                        "type": "string",
                                        "enum": [
                                            "received",
                                            "canonicalized",
                                            "failed",
                                            "unknown",
                                            "ignored"
                                        ],
                                        "description": "Processing status of the payload"
                                    },
                                    "errors": {
                                        "type": "array",
                                        "description": "Optional list of errors (for failed/unknown cases).",
                                        "default": [],
                                        "items": {
                                            "type": "object",
                                            "additionalProperties": false,
                                            "required": [
                                                "message",
                                                "atUtc"
                                            ],
                                            "properties": {
                                                "message": {
                                                    "type": "string",
                                                    "maxLength": 2048
                                                },
                                                "code": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ],
                                                    "maxLength": 128
                                                },
                                                "atUtc": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                }
                                            }
                                        }
                                    },
                                    "links": {
                                        "type": "array",
                                        "description": "Optional URLs to open the original entity in the source system.",
                                        "default": [],
                                        "items": {
                                            "type": "object",
                                            "additionalProperties": false,
                                            "required": [
                                                "rel",
                                                "url"
                                            ],
                                            "properties": {
                                                "rel": {
                                                    "type": "string",
                                                    "maxLength": 32
                                                },
                                                "url": {
                                                    "type": "string",
                                                    "maxLength": 2048
                                                }
                                            }
                                        }
                                    },
                                    "tags": {
                                        "type": "array",
                                        "description": "Optional tags for filtering and grouping.",
                                        "default": [],
                                        "items": {
                                            "type": "string",
                                            "minLength": 1,
                                            "maxLength": 64
                                        },
                                        "maxItems": 64,
                                        "uniqueItems": true
                                    }
                                },
                                "allOf": [
                                    {
                                        "if": {
                                            "properties": {
                                                "executionMode": {
                                                    "const": "job"
                                                }
                                            }
                                        },
                                        "then": {
                                            "required": [
                                                "operation"
                                            ],
                                            "properties": {
                                                "raw": {
                                                    "type": [
                                                        "null"
                                                    ]
                                                },
                                                "canonical": {
                                                    "type": [
                                                        "null"
                                                    ]
                                                }
                                            }
                                        },
                                        "else": {
                                            "required": [
                                                "raw",
                                                "storage"
                                            ]
                                        }
                                    }
                                ]
                            }
                        },
                        "runAfter": {
                            "Read_blob_content": [
                                "SUCCEEDED"
                            ]
                        }
                    },
                    "Upload_blob_to_storage_container": {
                        "type": "ServiceProvider",
                        "inputs": {
                            "parameters": {
                                "containerName": "icp-sink-blob",
                                "blobName": "@{concat(formatDateTime(utcNow(), 'yyyy-MM-dd'), '-' , body('Parse_runId,_instanceId,_correlationId,_blobName,_storedEventContainer')?['runId'])}.json",
                                "content": {
                                    "success": true
                                }
                            },
                            "serviceProviderConfiguration": {
                                "connectionName": "AzureBlob",
                                "operationId": "uploadBlob",
                                "serviceProviderId": "/serviceProviders/AzureBlob"
                            }
                        },
                        "runAfter": {
                            "Parse_Event_Data": [
                                "SUCCEEDED"
                            ]
                        }
                    },
                    "Update_Run_(success)": {
                        "type": "Http",
                        "inputs": {
                            "uri": "@{parameters('ControlPlaneApiUrl')}/runs/@{body('Parse_runId,_instanceId,_correlationId,_blobName,_storedEventContainer')?['runId']}",
                            "method": "PUT",
                            "body": {
                                "status": "succeeded",
                                "endedAt": "@{utcNow()}",
                                "outputFullBlobPath": "@{body('Upload_blob_to_storage_container')?['properties']?['blobFullPathWithContainer']}",
                                "outputContentType": "@{body('Upload_blob_to_storage_container')?['properties']?['contentType']}"
                            },
                            "authentication": {
                                "type": "ManagedServiceIdentity",
                                "identity": "@{parameters('LogicAppUamiIdentity')}",
                                "audience": "api://@{parameters('ControlPlaneApiClientId')}/"
                            }
                        },
                        "runAfter": {
                            "Upload_blob_to_storage_container": [
                                "SUCCEEDED"
                            ]
                        },
                        "runtimeConfiguration": {
                            "contentTransfer": {
                                "transferMode": "Chunked"
                            }
                        }
                    },
                    "Update_Run_(started)": {
                        "type": "Http",
                        "inputs": {
                            "uri": "@{parameters('ControlPlaneApiUrl')}/runs/@{body('Parse_runId,_instanceId,_correlationId,_blobName,_storedEventContainer')?['runId']}",
                            "method": "PUT",
                            "body": {
                                "status": "processing",
                                "startedAt": "@{utcNow()}"
                            },
                            "authentication": {
                                "type": "ManagedServiceIdentity",
                                "identity": "@{parameters('LogicAppUamiIdentity')}",
                                "audience": "api://@{parameters('ControlPlaneApiClientId')}/"
                            }
                        },
                        "runtimeConfiguration": {
                            "contentTransfer": {
                                "transferMode": "Chunked"
                            }
                        }
                    },
                    "Read_blob_content": {
                        "type": "ServiceProvider",
                        "inputs": {
                            "parameters": {
                                "containerName": "@body('Parse_runId,_instanceId,_correlationId,_blobName,_storedEventContainer')?['storedEventContainer']",
                                "blobName": "@body('Parse_runId,_instanceId,_correlationId,_blobName,_storedEventContainer')?['blobName']"
                            },
                            "serviceProviderConfiguration": {
                                "connectionName": "AzureBlob",
                                "operationId": "readBlob",
                                "serviceProviderId": "/serviceProviders/AzureBlob"
                            }
                        },
                        "runAfter": {
                            "Update_Run_(started)": [
                                "SUCCEEDED"
                            ]
                        }
                    }
                },
                "runAfter": {
                    "Parse_runId,_instanceId,_correlationId,_blobName,_storedEventContainer": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Update_Run_(failure)": {
                "type": "Http",
                "inputs": {
                    "uri": "@{parameters('ControlPlaneApiUrl')}/runs/@{body('Parse_runId,_instanceId,_correlationId,_blobName,_storedEventContainer')?['runId']}",
                    "method": "PUT",
                    "body": {
                        "status": "failed",
                        "endedAt": "@{utcNow()}",
                        "error": "handler \"sink-blob\" failed. (correlationId:@{body('Parse_runId,_instanceId,_correlationId,_blobName,_storedEventContainer')?['correlationId']})"
                    },
                    "authentication": {
                        "type": "ManagedServiceIdentity",
                        "identity": "@{parameters('LogicAppUamiIdentity')}",
                        "audience": "api://@{parameters('ControlPlaneApiClientId')}/"
                    }
                },
                "runAfter": {
                    "Scope": [
                        "FAILED"
                    ]
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                }
            },
            "Parse_runId,_instanceId,_correlationId,_blobName,_storedEventContainer": {
                "type": "ParseJson",
                "inputs": {
                    "content": "@triggerBody()?['contentData']",
                    "schema": {
                        "type": "object",
                        "properties": {
                            "runId": {
                                "type": "string"
                            },
                            "instanceId": {
                                "type": "string"
                            },
                            "correlationId": {
                                "type": "string"
                            },
                            "blobName": {
                                "type": "string"
                            },
                            "storedEventContainer": {
                                "type": "string"
                            }
                        }
                    }
                },
                "runAfter": {}
            }
        },
        "outputs": {},
        "triggers": {
            "When_messages_are_available_in_a_queue": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "queueName": "icp-targets-sink-blob",
                        "isSessionsEnabled": false
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "serviceBus",
                        "operationId": "receiveQueueMessages",
                        "serviceProviderId": "/serviceProviders/serviceBus"
                    }
                },
                "splitOn": "@triggerOutputs()?['body']"
            }
        }
    },
    "kind": "Stateful"
}